.photo-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.photo-card {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.photo-card img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.863);
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: background 0.3s;
}

.custom-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.custom-arrow.left {
  left: 10px;
}

.custom-arrow.right {
  right: 10px;
}
