.contact-wrapper {
  background-color: #f4f4f4;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.contact-box {
  display: flex;
  max-width: 1200px;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.contact-left {
  background-color: #45BF4D;
  color: white;
  padding: 40px 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-item {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.info-item .icon {
  width: 30px;
  font-size: 10px;
  margin-top: 4px;
  color: white;
}

.info-item h4 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.info-item p {
  font-size: 14px;
  line-height: 1.4;
}

.social-icons {
  display: flex;
  gap: 16px;
  margin-top: auto;
}

.social-icons a {
  font-size: 30px;
  color: white;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.contact-right {
  background-color: white;
  padding: 40px 30px;
  width: 60%;
}

.contact-right h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #1E3640;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-right input,
.contact-right textarea {
  padding: 12px 14px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  font-size: 15px;
  outline: none;
}

.contact-right input:focus,
.contact-right textarea:focus {
  border-color: #45BF4D;
}

.contact-right textarea {
  resize: vertical;
  min-height: 120px;
}

.contact-right button {
  padding: 14px;
  background-color: transparent;
  border: 2px solid #1E3640;
  color: #1E3640;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}

.contact-right button:hover {
  background-color: #45BF4D;
  color: white;
  border-color: #45BF4D;
}

@media (max-width: 768px) {
  .contact-wrapper {
    padding: 0px 0;
  }

  .contact-box {
    flex-direction: column;
    box-shadow: none;
  }

  .contact-left,
  .contact-right {
    width: 89%;
    padding: 30px 20px;
  }

  .contact-left {
    align-items: center;
    text-align: center;
  }

  .info-item {
    gap: 0%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-icons {
    justify-content: space-around;
  }

  .contact-right {
    margin-left: 0;
    box-shadow: none;
  }

  .contact-form form input,
  .contact-form form textarea {
    font-size: 14px;
  }

  .contact-form button {
    font-size: 14px;
    padding: 12px;
  }
}